@use "../../StudentPortal/WeeklyTimetable/WeeklyTimetable.scss";

.weekly-timetable.teacher-view {
  .week-info {
    .ant-typography-title-4 {
      color: #0d73c9;
    }
  }

  .timetable-card {
    .class-slot .course-info {
      text-transform: none;
    }
  }
}